body{
    background-color: black;
}
h1{
    color: white;
    text-align: center;
}
#main-container{
    color: white;
    width: 400px;
    margin: auto;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}
ul,form{
    margin-left: 100px;
}

